/*MAIN*/
header {
    display: flex;
    justify-content: space-evenly;
}

#logo {
    scale: 1;
    justify-content: center; 
    align-items: center; 
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    font-family: LunchBoxLight;
    color: #99aeae;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none; 
    color: #99aeae
}

a:hover {
    color: blue;
}

li img {
    width: 20px;
    height: 20px;
}

/*FONTS*/
@font-face {
    font-family: LunchBoxLight;
    src: url(../Fonts/LunchBox-Light.ttf)
}


#lisbet {
    background: rgb(255, 165, 165);
    width: 100%;
    height: 600px;
}

#cashbee {
    background: rgb(171, 165, 255);
    width: 100%;
    height: 600px;
}

#sarah {
    background: rgb(168, 255, 165);
    width: 100%;
    height: 600px;
}